body {
  /* background-image: url('./images/angela-compagnone-XSUvsYI_LrE-unsplash.jpg');  */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-family: 'Merienda', cursive;
  font-size: 65px;
}

div {
  font-family: 'Bad Script', cursive;
  font-size: 25px;
}
.inputDiv{
  margin-top: 35px;
}
/* .clear {
  background-image: url(images/sunny.jpg);
}

.rain {
  background-image: url(images/rain.jpg);
}

.snow {
  background-image: url(images/snow.jpg);
}

.thunderstorm {
  background-image: url(images/thunder.jpg);
}

.clouds {
  background-image: url(images/cloudy.jpg);
} */